.center
  {
    display: block;
    margin-left: auto;
    margin-right:auto;
  }
h1
  {
    text-align: center;
  }
h2
  {
    text-align: center;
  }
p
  {
    text-align:center;
  }
body
  {
    background-image: linear-gradient(to bottom right, #141e30, #243b55);
    color: white;
  }
.card
  {
    background-image: linear-gradient(to bottom, #28313b,#485461);
  }
ul
  {
    font-size:30px;
  }
p
  {
    font-size:25px;
  }
